[submodule "contrib/deterministic-build/electrum-smart-locale"]
	path = contrib/deterministic-build/electrum-smart-locale
	url = https://github.com/smartcash/electrum-smart-locale
[submodule "contrib/CalinsQRReader"]
	path = contrib/osx/CalinsQRReader
	url = https://github.com/spesmilo/CalinsQRReader
