####-*.patch
*.pyc
*.swp
build/
dist/
venv/
.idea/
*.egg/
/electrum.py
contrib/pyinstaller/
Electrum.egg-info/
locale/
.devlocaltmp/
*_trial_temp
packages
env/
.tox/
.buildozer/
bin/
/app.fil
contrib/build-wine/tmp


# tox files
.cache/
.coverage
.DS_Store
Electrum_SMART.egg-info/
*.dylib
